<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527902017145-454diovtj9oh2us3qr4i4g841vg9q5fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527902017145-454diovtj9oh2us3qr4i4g841vg9q5fi</string>
	<key>API_KEY</key>
	<string>AIzaSyBdDPFaDTj2oMWaMujepvBIc8gGOb6WFUM</string>
	<key>GCM_SENDER_ID</key>
	<string>527902017145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karirku</string>
	<key>PROJECT_ID</key>
	<string>karirku-4e549</string>
	<key>STORAGE_BUCKET</key>
	<string>karirku-4e549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527902017145:ios:14254f960623bd8ff976a8</string>
</dict>
</plist>